.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100vh; /* Use viewport height to fill the screen */
}
.dndflow aside {
  
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
  background-color: rgb(248, 247, 245);
  overflow-y: auto; /* Enable vertical scroll on overflow */
  height:100%; /* Full height of the viewport */
  box-sizing: border-box; /* Include padding in the height calculation */
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 30px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100vh; /* Use viewport height to fill the screen */
  box-sizing: border-box; /* Include padding in the height calculation if any */
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
    height: calc(100vh - 30px); /* Adjusted height for fixed header/footer if any */
    overflow-y: auto; /* Scroll will appear if content exceeds this height */
  }
}
